.switcher{
  width:40px;
  height: 20px;
  background-color: rgb(180, 180, 180);
  border-radius: 30px;

}
.buttonDisabled {
  width:50%;
  background-color: rgb(62, 62, 62);
  height: 20px;
 float: left;
  border-radius: 30px;
}
.buttonActive{
  width:50%;
  background-color: rgb(4, 158, 196);
  height: 20px;
  border-radius: 30px;
  float: right;
}